.left-menu{
  margin-bottom: 0;
  .sub-left-menu{
    list-style-type: none;
    display: block;
    cursor: pointer;
    min-height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    &.active{
      background-color: #C3DEED;
      opacity: 0.7;
      .label{
        font-weight: bold;
      }
    }
    .label{
      display: inline-block;
      text-overflow: ellipsis;
      width: 70%;
      overflow: hidden;
      height: 100%;
      vertical-align: middle;
    }
    .right-icon{
      float: right;
      i{
        vertical-align: middle;
      }
    }
  }
}